<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  
  <body>
    <div class="ui fixed massive inverted menu">
      <div class="ui container">
        <a href="/" class="header item">Recettes</a>
        <a href="/bases" class="item"><img class="ui very-mini image" src="/bases.png" /> Bases</a>
        <a href="/salty" class="item"><img class="ui very-mini image" src="/salty.png" /> Salées</a>
        <a href="/sweety" class="item"><img class="ui very-mini image" src="/sweety.png" /> Sucrées</a>
        <a href="/sauces" class="item"><img class="ui very-mini image" src="/sauces.png" /> Sauces</a>

        <div class="right menu">
          <a class="item">v1.0</a>
        </div>
      </div>
    </div>
    

    {{ block "main" . }}
    {{ end }}
  </body>

  
</html>
