{{ define "main" }}
<div class="ui main text container">
  {{ partial "breadcrumb.html" .}}

  <h1>{{ .Title }}</h1>

  <div class="ui images">
    {{ if .Params.is_vegan }}
    <img class="ui image" src="/vegan.png" />
    {{ end }}
    {{ if .Params.is_vegetarian }}
    <img class="ui image" src="/vegetarian.png" />
    {{ end }}
  </div>

  {{ if (fileExists "static/images/{{ .File.BaseFileName }}.jpg") -}}
  <img class="ui image" src="/images/{{ .File.BaseFileName }}.jpg" />
  {{- end }}

  <p>{{ .Content }}</p>
</div>
{{ end }}