<div class="item">
  <a class="ui tiny image">
    <img class="ui tiny image" src="/{{ .Section }}.png">
  </a>
  <div class="content">
    <a href="{{ .Permalink }}" class="header">{{ .Title }} {{ if .Params.is_vegan }}<span class="ui green mini label">vegan</span>{{ end }}{{ if .Params.is_vegetarian }}<span class="ui olive mini label">vegetarian</span>{{ end }}</a>
    <div class="description">
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}"><div class="ui label">{{ . }}</div></a>
      {{ end }}
    </div>
  </div>
</div>