<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  
  <body>
    {{ partial "menu.html" .}}

    <div class="ui main text container">
      <div class="ui items">
        {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
        {{ end }}
      </div>
    </div>
  </body>

  
</html>
